/* .container,
.header,
.up-header,
.aside-header,
.sub-header,
.sub-info,
.sidebar,
.main-content,
section,
div,
img,
p,
.footer {
    border: 1px solid red;
} */

/*      SOME SETTINGS FOR BODY      */

body {
    height: 1800px;
    overflow-x: hidden;
    font-family: TNYAdobeCaslonPro, "Times New Roman", Times, serif;
}

.container {
    display: grid;
    width: 100%;
    height: 1400px;
    grid-template-areas: "header header header header"
                         "main-content main-content main-content main-content"
                         "main-content main-content main-content main-content"
                         "main-content main-content main-content main-content";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 148px 1fr 1fr 80px;
    gap: 1rem;
    margin: auto;
    }

/*      SOME SETTINGS FOR HEADER        */

.header {
    background-color: #fff;
    display: grid;
    grid-area: header;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);

    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.up-header {
    display: flex;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1/4;
}

.up-header:hover {
    cursor: pointer;
}

.aside-header {
    grid-row: 1/4;
    grid-column: 4/5;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-right: 25px;

    font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    align-items: end;

    position: relative;
}

.newsletter {
    grid-column: 2/3;
    grid-row: 2/3;
}

.sign-in {
    grid-column: 3/4;
    grid-row: 2/3;
}

.subscribe {
    grid-column: 4/5;
    grid-row: 2/3;

    position: absolute;
    top: 3px;
    right: 18px;

    border: none;
    padding: 8px 16px 8px 16px;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(61, 151, 241);
}

.search {
    grid-column: 5/6;
    grid-row: 2/3;
}

.subscribe:hover {
    cursor: pointer;
}

.newsletter:hover,
.sign-in:hover,
.search:hover,
.sub-info > span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sub-header {
    height: 52px;
    display: flex;
    grid-row: 4/5;
    grid-column: 1/5;

    border: 1px solid lightgray;
}

.sub-info {
    max-width: 100%;
    display: flex;
    margin: auto;
    font-family: Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.sub-info > span {
    padding-left: 10px;
    padding-right: 10px;
}

/*      SOME SETTINGS FOR MAIN PART     */

.main-content {
    grid-area: main-content;

    display: grid;
    grid-template-rows: 100px 1fr 80px;
}

.main-head-with-pic {
display: flex;
justify-content: center;
align-items: center;
padding: 2px;
box-sizing: content-box;

font-size: 20px;
font-weight: 400;

border: 1px solid lightgray;
}

.cigaro {
    margin-right: 12px;
}

.main-head-with-pic > p > span {
    color: rgb(25, 113, 214);
    text-decoration: underline;
}

.main-head-with-pic > p > span:hover {
    cursor: pointer;
    color: rgb(142, 142, 142);
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.main-part-main-content {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#left-section {
    display: grid;
    grid-template-columns: 20% 1fr;
}

#left-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#left-content-1,
#left-content-2 {
    display: flex;
    flex-direction: column;
}

#left-content-1-pic, #left-content-1-text,
#left-content-2-pic, #left-content-2-text {
    height: 50%;
}

#left-content-1-pic,
#left-content-2-pic {
    display: flex;
    justify-content: center;
}

#left-content-1-pic > img,
#left-content-2-pic > img {
width: 100%;
height: 100%;
}

.sub {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

#sub-pic {
    color: rgb(219, 51, 52);
    font-weight: 400;
    font-size: 14px;
    font-family: IrvinText, Georgia, "Times New Roman", Times, serif;
}

#title {
    font-weight: 500;
    font-size: 20px;
}

#annotation {
    font-weight: 300;
    font-size: 18px;
}

#author {
    font-weight: 600;
    font-size: 14px;
    font-family: IrvinText, Georgia, "Times New Roman", Times, serif;
}

#title:hover,
#sub-pic:hover,
#annotation:hover,
#author:hover {
    cursor: pointer;
}

#title:hover,
#sub-pic:hover,
#author:hover {
    text-decoration: underline;
}

#right-section {
    display: grid;
    grid-template-columns: 1fr 20%;
}

#right-content {
    display: grid;
    grid-template-rows: 60px 1fr;
}

#news-block {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
    font-style: italic;
}

#articles {
    display: flex;
    flex-direction: column;
}

#sub-article {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 1fr 80px;
    height: 20%;
}

#politic-pic {
    padding-top: 24px;
    width: 75px;
    height: 56px;
}

#central-section {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    display: grid;
    grid-template-rows: 80% 1fr;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#central-section-up-content {
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-rows: 70% 1fr;
}

#central-section-up-content-pic {
    display: flex;
    justify-content: center;
}

#central-section-up-content-pic > img {
    max-width: 100%;
    vertical-align: bottom;
}

#central-section-down-content {
    display: grid;
    grid-template-columns: 70% 1fr;
}

#central-section-down-content-pic > img {
    max-width: 100%;
    max-height: 100%;

    padding-top: 15px;
}

/*      SOME SETTINGS FOR FOOOOOOOOTER MAIN     */

.footer-main {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}

.footer-main-info {
    margin: auto;
    font-size: 22px;
}

/*      SOME SETTINGS FOR FOOTER        */

.foot-games {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

.footer-games-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.games-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-game {
    max-width: 320px;
}

.game-pic > img {
    max-width: 100%;
    max-height: 90%;
}

.footer {
    max-height: 90px;
    background-color: black;
    padding-top: 35px;
    padding-bottom: 25px;
    text-align: center;
}

.footer-logo {
    padding-bottom: 15px;
}