.container,
.header,
.sidebar,
.main-content,
.footer {
    border: 1px solid red;
}

.container {
    display: grid;
    width: 100%;
    height: 1240px;
    grid-template-areas: "header header header header"
                         "main-content main-content main-content sidebar"
                         "main-content main-content main-content sidebar"
                         "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 300px;
    grid-template-rows: 80px 1fr 1fr 80px;
    gap: 1rem;
    margin: auto;
    }

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main-content {
    grid-area: main-content;
}

.footer {
    grid-area: footer;
}